Flask==3.0.3
langchain==0.2.3
langchain-cli==0.0.25
langchain-community==0.2.4
langchain-core==0.2.5
langchain-experimental==0.0.60
langchain-milvus==0.1.1
langchain-openai==0.1.8
langchain-text-splitters==0.2.1
langserve==0.2.2
langsmith==0.1.76
pandas==2.2.2
python-dotenv==1.0.1